*
    box-sizing border-box

html
    overflow-y: scroll

.structure
    clearfix()
    width: 100%
    max-width: $max-width
    margin: 0 auto

// Sticky footer.
.page-wrapper
    display: flex
    flex-direction: column
    min-height: 100vh

.site-content
    flex: 1
