@font-face
   font-family: 'EB Garamond'
   font-style: normal
   font-weight: 400
   src: local('EB Garamond'), local('EBGaramond'), url('/fonts/EBGaramond-Regular.ttf')

@font-face
   font-family: 'Karla'
   font-style: normal
   font-weight: 400
   src: local('Karla'), local('Karla-Regular'), url('/fonts/Karla-Regular.ttf')

$font-garamond
    font-family: 'EB Garamond', serif

$font-karla
    font-family: 'Karla', sans-serif

$link-sub
    transition: color 0.1s linear
    text-decoration: none
    &:hover
        color: $purple

$link-main
    color: $purple
    text-decoration: none
    &:hover
        text-decoration: underline

body
    @extend $font-garamond
    color: $main-grey
    font:
        size: 16px
        weight: normal
    line-height: 1.4
    background: $off-white

a
    @extend $link-main
