@font-face
  font-family: 'EB Garamond'
  font-style: normal
  font-weight: 400
  src: url('/fonts/eb-garamond-v7-latin/eb-garamond-v7-latin-regular.eot')
  src: local('EB Garamond'), local('EBGaramond'),
       url('/fonts/eb-garamond-v7-latin/eb-garamond-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/eb-garamond-v7-latin/eb-garamond-v7-latin-regular.woff2') format('woff2'),
       url('/fonts/eb-garamond-v7-latin/eb-garamond-v7-latin-regular.woff') format('woff'),
       url('/fonts/eb-garamond-v7-latin/eb-garamond-v7-latin-regular.ttf') format('truetype'),
       url('/fonts/eb-garamond-v7-latin/eb-garamond-v7-latin-regular.svg#EBGaramond') format('svg')

@font-face
  font-family: 'Karla'
  font-style: normal
  font-weight: 400
  src: url('/fonts/karla-v5-latin/karla-v5-latin-regular.eot')
  src: local('Karla'), local('Karla-Regular'),
       url('/fonts/karla-v5-latin/karla-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/karla-v5-latin/karla-v5-latin-regular.woff2') format('woff2'),
       url('/fonts/karla-v5-latin/karla-v5-latin-regular.woff') format('woff'),
       url('/fonts/karla-v5-latin/karla-v5-latin-regular.ttf') format('truetype'),
       url('/fonts/karla-v5-latin/karla-v5-latin-regular.svg#Karla') format('svg')

$font-garamond
    font-family: 'EB Garamond', serif

$font-karla
    font-family: 'Karla', sans-serif

$link-sub
    transition: color 0.1s linear
    text-decoration: none
    &:hover
        color: $purple

$link-main
    color: $purple
    text-decoration: none
    &:hover
        text-decoration: underline

body
    @extend $font-garamond
    color: $main-grey
    font:
        size: 16px
        weight: normal
    line-height: 1.4
    background: $off-white

a
    @extend $link-main
