$break-phone = "min-width: 480px"
$break-mid = "min-width: 660px"
$break-wide = "min-width: 1024px"

$padding-narrow = 4%
$padding = 40px

$purple = #AE68FF
$main-grey = #434343
$light-grey = #ccc
$off-white = #f5f5f5
