<div class="postcard">
    <h1>Get in touch!</h1>
    <p>We're always open to discussing new ideas, no matter how big or small*, feel free to drop us a line at &ndash;</p>
    <p><a href="mailto:hello@peroshi.com">hello@peroshi.com</a></p>
    <p><small>*Projects, film suggestions, birthday party invites and love letters all welcome.</small></p>
</div>

