<div class="contact-content">
    <h1 class="title">Get in touch!</h1>
    <p class="text">We're always open to discussing new ideas, no matter how big or small*, feel free to drop us a line at &ndash;</p>
    <p class="text"><a href="mailto:hello@peroshi.com">hello@peroshi.com</a></p>
    <p class="text -small">*Projects, film suggestions, birthday party invites and love letters all welcome.</p>
</div>

