<div class="main-blurb">
    <div class="structure">
        <div class="text">
            <p class="line">Hey there, we're Peroshi &mdash; a team of developers hell-bent on making the best websites.</p>
            <p class="line">Why not <!-- Email link is temporary... --><a href="mailto:hello@peroshi.com">get in touch</a> to discuss your project?</p>
        </div>
    </div>
</div>

<div class="project-list">
    <div class="structure">
        <% for (var slug in public._data.work) { %>
            <% var project = public._data.work[slug] %>
            <div class="project-item">
                <div class="panel-wrapper">
                    <div class="panel -image">
                        <img class="image" src="/images/<%= slug %>.jpg" width="1181" height="868">
                    </div>

                    <div class="panel -title-background"></div>

                    <div class="panel -title">
                        <span class="text"><%= project.title %></span>
                    </div>

                    <div class="panel -overlay"></div>
                </div>
            </div>
        <% } %>
    </div>
</div>
