<div class="main-blurb">
    <div class="image">image</div>
    <div class="text">
        <p class="line">Hey there, we're Peroshi &ndash; a team of developers hell-bent on making the best websites.</p>
        <p class="line">Why not <a href="/contact">get in touch</a> to discuss your project?</p>
    </div>
</div>

<%- partial("_partials/_projects") %>

<a href="/work" class="more-link">View more projects</a>
