<div class="blurb">
    <div class="blurb-image">image</div>
    <div class="blurb-text">
        <p>Hey there, we're Peroshi &ndash; a team of developers hell-bent on making the best websites.</p>
        <p>Why not <a href="/contact">get in touch</a> to discuss your project?</p>
    </div>
</div>

<%- partial("_partials/_projects") %>

<a href="/work" class="projects-link">View more projects</a>
