<div class="main-blurb">
    <div class="structure">
        <div class="text">
            <p class="line">Hey there, we're Peroshi &mdash; a team of developers hell-bent on making the best websites.</p>
            <p class="line">Why not <a href="/contact">get in touch</a> to discuss your project?</p>
        </div>
    </div>
</div>

<%- partial("_partials/_projects") %>
