.site-logo
    margin: 20px auto
    display: block
    width: 61%
    @media ({$break-phone})
        box-sizing: border-box
        flex(1, 1, 49%)
        margin: 0
        padding: $padding

    > svg
        display: block
        fill: #545454
        @media ({$break-phone})
            height: 30px

