<div class="project-list">
    <div class="structure">
        <% for (var slug in public.work._data) { %>
            <% var project = public.work._data[slug] %>
            <a href="/work/<%= slug %>" class="project-item">
                <div class="wrapper">
                    <div class="wrapper-inner">
                        <div class="panel -image">
                            <img class="image" src="/images/<%= slug %>.jpg">
                        </div>

                        <div class="panel -title">
                        </div>

                        <div class="panel -text">
                            <span><%= project.title %></span>
                        </div>

                        <div class="panel -overlay"></div>
                    </div>
                </div>

            </a>
        <% } %>
    </div>
</div>
