<div class="project-list">
    <% for (var slug in public.work._data) { %>
        <% var project = public.work._data[slug] %>
        <a href="/work/<%= slug %>" class="project-item">
            <div class="panel -image">
                <img class="image" src="/images/<%= slug %>.jpg">
            </div>
            <div class="panel -overlay">
                <p class="text"><%= project.title %></p>
            </div>
        </a>
    <% } %>
</div>
