.page-contact

    .postcard
        @media ({$break-phone})
            background: $off-white
            padding: 20px 40px
            > *
                max-width: 400px
                width: 50%

    p
        font-size: 1.4em
