.page-contact

    #site-content
        margin-bottom: 40px

    .postcard
        padding: 0 $padding-narrow
        @media ({$break-phone})
            background: $off-white
            position: relative
            padding: 20px 20px 80px
            margin: 0 20px

            // Skoooomorphic elements
            &:before,
            &:after
                content: ''
                position: absolute

            // Dividing line
            &:before
                left: 50%
                top: 5%
                height: 90%
                width: 0px
                border: 1px solid $light-grey

            // Stamp
            &:after
                top: 20px
                right: 20px
                height: 100px
                width: 80px
                border: 2px solid $light-grey

            > *
                box-sizing: border-box
                max-width: 400px
                padding-right: 20px
                width: 50%

    p
        font-size: 1.4em
