.page-work #site-content

    .text
        padding: 0 $padding-narrow
        background: $off-white
        @media ({$break-phone})
            flexbox()
            flex-wrap(wrap)
            padding: 20px $padding

    h1
        @media ({$break-phone})
            flex(0, 0, 100%)

    dt
        @extend $font-montserrat
        font-weight: bold

    dd
        margin: 0 0 1em 0

    .info
        @media ({$break-mid})
            flex(1, 1, 32%)
            padding-right: 5%
            box-sizing: border-box
        @media ({$break-wide})
            flex(0, 0, 25%)

    .description
        @media ({$break-mid})
            flex(1, 1, 68%)
        @media ({$break-wide})
            flex(0, 0, 50%)
