.contact-content
    padding: 0 $padding-narrow
    @media ({$break-phone})
        @extend $container
        padding: 0 $padding $padding

    > .title,
    > .text
        @media ({$break-phone})
            box-sizing: border-box
            max-width: 400px
            padding-right: 20px
            width: 50%

    > .text
        @media ({$break-phone})
            font-size: 1.4em
    > .text.-small
        font-size: 0.8em
        @media ({$break-phone})
            font-size: 1em
