.footer-text
    text-align: center

    > .item
        display: block
        font-size: 12px
        @media ({$break-phone})
            display: inline
            font-size: 14px
            &:not(:first-child):before
                content: ' - '

    > .item.-link
        @extend $link-sub
        color: $light-grey
