.main-blurb
    background-color: $off-white
    padding: $padding

    > .text
        @media ({$break-phone})
            width: 50%
            margin: 0 auto

    > .text > .line
        font-size: 30px
        margin: 0 0 45px 0
        &:last-of-type
            margin: 0
