.more-link
    @extend $font-montserrat
    color: #878787
    display: block
    font-weight: bold
    padding: 2em 0
    text-align: center
    text-decoration: none
    &:hover
        background: $light-grey
        color: white
