.projects.structure
        padding: 0
        @media ({$break-phone})
            flexbox()
            padding: 0 40px

    .project
        display: block
        @media ({$break-phone})
            flex(1, 0, 49%)
            overflow: hidden
            position: relative
        &:nth-of-type(1n)
            background-color: #FB4E54
            &:hover
                background-color: lighten(#FB4E54, 20%)
        &:nth-of-type(2n)
            background-color: #2FC386
            &:hover
                background-color: lighten(#2FC386, 20%)
        &:nth-of-type(3n)
            background-color: #E7E7E7
            &:hover
                background-color: lighten(#E7E7E7, 20%)
        &:nth-of-type(4n)
            background-color: #9C48FF
            &:hover
                background-color: lighten(#9C48FF, 20%)

        .upper
            overflow: hidden
            padding: 40px 40px 0 40px
            @media ({$break-phone})
                position: relative

            img
                box-shadow(0px 0px 10px rgba(#333, 0.6))
                display: block
                height: auto
                width: 100%

        .lower
            display: none
            @media ({$break-phone})
                align-items(center)
                background: rgba(#333, 0.92)
                display: block
                flexbox()
                height: 100%
                justify-content(center)
                position: absolute
                transition: transform 0.4s
                width: 100%
            p
                color: white
                font-size: 2em
                margin: 20px
                text-align: center

        &:hover
            .lower
                transform: translateY(-100%)
