@keyframes project-left
    0%
        transform: translate3d(-200%, 0, 0)
    100%
        transform: translate3d(0, 0, 0)

@keyframes project-right
    0%
        transform: translate3d(200%, 0, 0)
    100%
        transform: translate3d(0, 0, 0)

$project-item-footer-height = 70px

.project-item
    box-shadow: 0px 0px 10px rgba(#333, 0.6)
    display: block
    margin: 0 0 $padding 0
    overflow: hidden
    position: relative

    @media ({$break-phone})
        float: left
        position: relative
        width: 46%
        &:nth-child(odd)
            animation: project-left 900ms ease-in-out
            margin-right: 4%
        &:nth-child(even)
            animation: project-right 900ms ease-in-out
            margin-left: 4%

    > .image
        display: block
        height: auto
        width: 100%

    > .text
        background: $off-white
        border-bottom: 4px solid $purple
        color: $main-grey
        display: block
        font-size: 1.7em
        height: $project-item-footer-height
        line-height: $project-item-footer-height
        text-align: center

    &:hover
        box-shadow: 0px 0px 10px rgba($purple, 0.6)
        text-decoration: none

    &:hover > .text
        background-color: #333
        border: none
        color: #fff
