.project-description

    > .structure
        padding: 0 $padding-narrow
        @media ({$break-phone})
            padding: 20px $padding

        > .title
            @extend $font-montserrat
            font-weight: normal
            @media ({$break-phone})
                width: 100%

        > .description
            float: left
            @media ({$break-mid})
                width: 68%
            @media ({$break-wide})
                width: 50%

        > .info
            float: left
            @media ({$break-mid})
                width: 32%
                padding-right: 5%
            @media ({$break-wide})
                width: 25%

        > .info > dt
                @extend $font-montserrat
                font-weight: bold

        > .info > dd
                margin: 0 0 1em 0
