.project-description

    > .structure
        padding: 0 $padding-narrow
        @media ({$break-phone})
            padding: 20px $padding

    > .structure > .title
        @extend $font-montserrat
        font-weight: normal
        @media ({$break-phone})
            width: 100%

    > .structure > .description
        float: left
        @media ({$break-mid})
            width: 68%
        @media ({$break-wide})
            width: 50%

    > .structure > .info
        float: left
        @media ({$break-mid})
            padding-right: 5%
            width: 32%
        @media ({$break-wide})
            width: 25%

    > .structure > .info > dt
        @extend $font-montserrat
        font-weight: bold

    > .structure > .info > dd
        margin: 0 0 1em 0
