.project-item
    display: block
    @media ({$break-phone})
        flex: 1 1 49%
        overflow: hidden
        position: relative

    for color, i in #FB4E54 #2FC386 #E7E7E7 #9C48FF
        &:nth-of-type({i + 1}n)
            background-color: color
            &:hover
                background-color: lighten(color, 20%)

    > .panel.-image
        overflow: hidden
        padding: $padding $padding 0
        @media ({$break-phone})
            position: relative

    > .panel.-image > .image
            box-shadow: 0px 0px 10px rgba(#333, 0.6)
            display: block
            height: auto
            width: 100%

    > .panel.-overlay
        display: none
        @media ({$break-phone})
            align-items: center
            background: rgba(#333, 0.92)
            display: flex
            height: 100%
            justify-content: center
            position: absolute
            transition: transform 0.4s
            width: 100%

    &:hover > .panel.-overlay
        transform: translateY(-100%)

    > .panel.-overlay > .text
        color: white
        font-size: 2em
        margin: 20px
        text-align: center

