@keyframes project-left
    0%
        transform: translate3d(-200%, 0, 0)
    100%
        transform: translate3d(0, 0, 0)

@keyframes project-right
    0%
        transform: translate3d(200%, 0, 0)
    100%
        transform: translate3d(0, 0, 0)

$project-item-footer-height = 70px

.project-item
    display: block
    margin: 0 0 $padding 0
    @media ({$break-phone})
        float: left
        position: relative
        width: 46%
        &:nth-child(odd)
            animation: project-left 900ms ease-in-out
            margin-right: 4%
        &:nth-child(even)
            animation: project-right 900ms ease-in-out
            margin-left: 4%

    > .panel-wrapper
        box-shadow: 0px 0px 10px rgba(#333, 0.6)
        overflow: hidden
        position: relative
        display: block

    > .panel-wrapper > .panel.-image
        @media ({$break-phone})
            position: relative

    > .panel-wrapper > .panel.-image > .image
        display: block
        height: auto
        width: 100%

    > .panel-wrapper > .panel.-title-background
        background: $off-white
        border-bottom: 4px solid $purple
        height: $project-item-footer-height
        text-align: center

    > .panel-wrapper > .panel.-title
        color: $main-grey
        display: flex
        font-size: 1.7em
        margin: 0
        position: absolute
        text-align: center
        transform: translate3d(0, - $project-item-footer-height, 0)
        width: 100%
        z-index: 10
        > .text
            height: $project-item-footer-height
            line-height: $project-item-footer-height
            width: 100%

    &:hover
        text-decoration: none
        box-shadow: 0px 0px 10px rgba($purple, 0.6)

    &:hover > .panel-wrapper > .panel.-title
        > .text
            color: #fff

    &:hover > .panel-wrapper > .panel.-title-background
        background-color: #333
        border: none
