.site-header
    padding: 30px 0

    > .logo
        margin: 0 auto
        display: block
        max-width: 200px

    > .logo > svg
        display: block
        fill: #545454
        height: 30px

