.site-header
    background: #fff
    padding: 30px 0

    > .structure > .logo
        margin: 0 auto
        display: block
        max-width: 200px

    > .structure > .logo > svg
        display: block
        fill: #545454
        height: 30px
