.site-footer
    @extend $font-karla
    background: $main-grey
    color: #ccc
    padding: 60px 0

    > .structure > .logo
        display: block
        width: 40px
        margin: 0 auto 30px

    > .structure > .logo > svg
        fill: $light-grey
